/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../images/background.webp")
}



header h1 {
    color:aliceblue;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 10px white, 0 0 20px lightblue;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px;
}

nav button {
width: 100%;
padding: 10px;
background-color: #333;
color: aliceblue;
border: 2px solid aliceblue;
cursor: pointer;
transition: all 0.3s ease;
}

nav button:hover {
    background-color: aliceblue;
    color: #333;
    box-shadow: 0 0 15px lightblue;

}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
main figure {
    width: 100%;

    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid aliceblue;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px aliceblue;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main figure:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px lightblue;
}

main img {
width: 100%;
max-width: 600px;
border-bottom: 1px solid aliceblue;
}
main figcaption {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8));
    color: aliceblue;
    text-shadow: 0 0 5px lightblue;
    border-top: 1px solid aliceblue;
}

footer {
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
    color: #333;
    font-size: 1rem;
}